<html>
<head>
  <meta name="viewport" content="width=device-width">
  <style media="screen">
    body {
      background: #333;
      margin: 0;
      padding: 0;
    }
    main {
			padding: 2em 0;
      margin: 2em auto;
      width: 100%;
      background: white;
      text-align: center;
    }

  </style>
<body>
  <main>
		<h1>Oscar Soirée 2019</h1>

		<% if (!user) { %>
			<p><a href="/auth/google">Log in with your Google account</a></p>
		<% } else { %>
			<p><a href="/app">Visit the app</a></p>
		<% } %>

	</main>
</body>
</html>
